@import "./mixins.scss";
@import "./variables.scss";
@import "../app/blog/blog.scss";
@import "../app/info/info.scss";
@import "../app/kontakt/kontakt.scss";
@import "../components/header.scss";
@import "../components/spinner.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: stretch;
  height: -webkit-stretch;
}

body {
  min-height: 100vh;
  min-height: stretch;
  min-height: -webkit-stretch;
  background-color: $color-primary;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Loading:
.loading-box {
  @include center-element;
  height: 100vh;
  width: 100vw;
}
