@import "./mixins.scss";
@import "./variables.scss";
@import "../app/blog/blog.scss";
@import "../app/info/info.scss";
@import "../app/kontakt/kontakt.scss";
@import "../components/header.scss";
@import "../components/spinner.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-primary;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Loading:
.loading-box {
  @include center-element;
  height: 100svh;
  width: 100vw;
}

// Page Intro:
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 1600px;
  margin: 4rem auto 1rem;
  color: $color-secondary;
  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 24vh;
    margin-bottom: 5vh;
    filter: drop-shadow(2px 4px 6px $color-secondary);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    h1 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 39vh;
      font-size: 11vh;
      font-weight: 700;
      text-align: center;
      color: #f0ebdf70;
      text-shadow: 2px 2px 0px #000000a3;
      mix-blend-mode: multiply;

      // display: flex;
      // justify-content: center;
      // align-items: flex-end;
      // height: 39vh;
      // font-size: 12vh;
      // font-weight: 700;
      // text-align: center;
      // color: #f0ebdf94;
      // mix-blend-mode: multiply;
      // filter: drop-shadow(5px 5px 2px black);
    }
  }
}
