@import "/scss/variables";
@import "/scss/mixins";

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  @include center-element;
  flex-direction: column;
  overflow: hidden;
  .photo {
    @include center-element;
    .workImg,
    .jerseyImg {
      position: absolute;
      bottom: 0vh;
      left: 50vw;
      height: 90vh;
      width: auto;
      object-fit: contain;
      padding: 10px;
      filter: brightness(0.2);
      // filter: drop-shadow(0px 0px 15px $color-secondary);
      // box-shadow: -10px 15px 39px $color-secondary;
    }
    .workImg {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      animation: hide 5s ease-in-out;
    }
    .jerseyImg {
      animation: changeImg 5s ease-in-out;
    }
  }
  .circle {
    @include center-element;
    @include circle(70vh, 70vh, $color-decorative);
    border: 7px solid $color-secondary;
    z-index: -1;
    font-weight: bolder;
    filter: drop-shadow(-12px 10px 11px #32363e);
    animation: grow 5s ease-out;
    // overflow: hidden;
    // text-shadow: 15px 15px 30px black;
    // color: #f0ebdf;
    // font-size: 53vh;
  }
  .ground {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(100% 75%, 40% 100%, 100% 100%);
    background-color: $color-secondary;
    filter: brightness(0.5);
    z-index: -2;
    animation: groundMove 5s ease-out;
  }

  // left: 50%;
  // transform: translateX(-50%);

  @keyframes changeImg {
    0% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes hide {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }

  @keyframes grow {
    from {
      @include circle(10vh, 10vh, $color-decorative);
    }
    to {
      @include circle(70vh, 70vh, $color-decorative);
    }
  }

  @keyframes groundMove {
    from {
      // clip-path: polygon(100% 85%, 0 100%, 100% 100%);
      clip-path: polygon(100% 50%, -25% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 75%, 40% 100%, 100% 100%);
    }
  }
}
