@import "/scss/variables";
@import "/scss/mixins";

.main {
  position: relative;
  width: 100vw;
  height: 100svh;
  @include center-element;
  flex-direction: column;
  overflow: hidden;
  .photo {
    @include center-element;
    .workImg,
    .jerseyImg {
      position: absolute;
      bottom: 0vh;
      left: 50vw;
      height: 80svh;
      width: auto;
      object-fit: contain;
      padding: 10px;
      filter: brightness(0.2);
    }
    .workImg {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      animation: hide 5s ease-in-out;
    }
    .jerseyImg {
      animation: changeImg 5s ease-in-out;
    }
  }
  .circle {
    @include center-element;
    width: 65vh;
    height: inherit;
    background-image: url("../public/images/ball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(-12px 10px 11px #32363e);
    z-index: -1;
    animation: grow 6s ease-out;
    @include media-query(sm) {
      width: 45vh;
      animation: growSm 6s ease-out;
    }
  }
  .ground {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    background-color: $color-secondary;
    filter: brightness(0.5);
    z-index: -2;
    animation: groundMove 7s ease-out;
  }
  .text {
    position: absolute;
    top: 4svh;
    width: 30%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 2rem 3rem;
    border-left: 15px solid $color-secondary;
    border-right: 15px solid $color-secondary;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(
      0deg,
      $color-secondary 0%,
      $color-secondary 50%,
      $color-primary 50%,
      $color-primary 100%
    );
    span {
      mix-blend-mode: difference;
      font-size: 7vh;
      letter-spacing: 3px;
      text-align: center;
      // &::after {
      //   content: "";
      //   top: 7vh;
      //   width: 100%;
      //   border: 10px double white;
      // }
    }
    .textLong {
      font-size: 1.5vh;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 0.5;
      text-decoration: overline;
    }
  }

  @keyframes changeImg {
    0% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes hide {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }

  @keyframes grow {
    from {
      width: 0vh;
    }
    to {
      width: 65vh;
    }
  }

  @keyframes growSm {
    from {
      width: 0vh;
    }
    to {
      width: 45vh;
    }
  }

  @keyframes groundMove {
    from {
      clip-path: polygon(100% 50%, -25% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
  }

  @keyframes mymove {
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
