@import "/scss/variables";
@import "/scss/mixins";

.main {
  position: relative;
  width: 100vw;
  height: 100svh;
  @include center-element;
  flex-direction: column;
  overflow: hidden;
  .photo {
    @include center-element;
    .workImg,
    .jerseyImg {
      position: absolute;
      bottom: 0vh;
      left: 50vw;
      height: 80svh;
      width: auto;
      object-fit: contain;
      padding: 10px;
      filter: brightness(0.2);
    }
    .workImg {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      animation: hide 5s ease-in-out;
    }
    .jerseyImg {
      animation: changeImg 5s ease-in-out;
    }
  }
  .circle {
    // @include center-element;
    width: 55vh;
    height: inherit;
    background-image: url("../public/images/hero/ball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(-12px 10px 11px #32363e);
    z-index: -1;
    animation: grow 6s ease-out;
    @include media-query(sm) {
      width: 45vh;
      animation: growSm 6s ease-out;
    }
  }
  .ground {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    background-color: $color-secondary;
    filter: brightness(0.5);
    z-index: -2;
    animation: groundMove 7s ease-out;
  }
  .text {
    position: absolute;
    top: 2svh;
    width: 30%;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    padding: 3vh 0vh;
    z-index: -1;
    clip-path: polygon(3% 14%, 100% 0, 87% 95%, 8% 88%);
    background: linear-gradient(
      0deg,
      $color-secondary 0%,
      $color-secondary 50%,
      $color-primary 50%,
      $color-primary 100%
    );
    span {
      mix-blend-mode: difference;
      font-size: 7vh;
      letter-spacing: 3px;
      text-align: center;
    }
    .textLong {
      font-size: 1.5vh;
      letter-spacing: 5px;
      font-weight: 300;
      line-height: 0.35;
      text-decoration: overline;
      font-style: italic;
    }
    @include media-query(sm) {
      top: 5svh;
    }
  }
  .line {
    position: absolute;
    top: 11svh;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: $color-secondary;
    z-index: -2;
    filter: blur(3px);
    @include media-query(sm) {
      top: 16svh;
    }
  }

  @keyframes changeImg {
    0% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes hide {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }

  @keyframes grow {
    from {
      width: 0vh;
    }
    to {
      width: 55vh;
    }
  }

  @keyframes growSm {
    from {
      width: 0vh;
    }
    to {
      width: 45vh;
    }
  }

  @keyframes groundMove {
    from {
      clip-path: polygon(100% 50%, -25% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
  }

  @keyframes mymove {
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
