@import "/scss/variables";
@import "/scss/mixins";

svg {
  cursor: pointer;
}

#darkGroup {
  fill: $color-blues;
  animation: pulse 2s infinite;
}
#lightGroup {
  fill: $color-oranje;
  animation: pulse 2s infinite 0.25s;
}
#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
}
svg:hover #light1 {
  transform: translateX(20%);
  opacity: 0.75;
}
svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateX(0%);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
