@import "/scss/variables";
@import "/scss/mixins";

header {
  position: fixed;
  top: 0vh;
  @include between-element;
  width: 100vw;
  background-color: $color-primary;
  color: $color-secondary;
  padding: 0.7rem 1.4rem;
  z-index: 1;

  // position: fixed;
  //   top: 0vh;
  //   display: flex;
  //   justify-content: space-between;
  //   width: 10vw;
  //   height: 100svh;
  //   padding: 0.7rem 1.4rem;
  //   z-index: -1;
  //   align-items: center;
  //   flex-direction: column;
  //   color: #32363e;
  //   filter: drop-shadow(-6px 0px 11px #32363e);
  .right {
    .shape-menu {
      position: relative;
      display: block;
      border-radius: 20% 80% 68% 32%/22% 58% 42% 78%;
      height: 2rem;
      width: 2rem;
      color: $color-primary;
      background-color: $color-secondary;
      // overflow: hidden;
      .letterM {
        position: absolute;
        left: 50%;
        top: 60%;
        font-size: 2.25rem;
        font-weight: 600;
        transform: translate(-50%, -50%);
      }
      .letterM-off {
        display: none;
      }
      .letterX {
        position: absolute;
        left: 47%;
        top: 56%;
        font-size: 1.25rem;
        transform: translate(-50%, -50%);
      }
      .letterX-off {
        display: none;
      }
      @include media-query(md) {
        display: none;
      }
      @include media-query(lg) {
        display: none;
      }
      @include media-query(xl) {
        display: none;
      }
    }
    a {
      @include link-decor;
      @include media-query(sm) {
        display: none;
      }
    }
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // padding: 1.5rem;
    font-size: 1.75rem;
    letter-spacing: 3px;
    background-color: #000000ed;
    animation: menuSlide 1s ease-in-out;
    a {
      @include link-decor;
      color: $color-primary;
      margin: 2rem;
    }
  }
  .menu-off {
    display: none;
  }
  .left {
    .shape {
      position: relative;
      display: block;
      border-radius: 80% 20% 32% 68% / 58% 22% 78% 42%;
      height: 2rem;
      width: 2rem;
      color: $color-primary;
      background-color: $color-secondary;
      // overflow: hidden;
      p {
        position: absolute;
        left: 50%;
        top: 60%;
        font-size: 3rem;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes menuSlide {
  from {
    transform: translateY(-100svh);
  }
  to {
    transform: translateY(0vh);
  }
}
